In [25]:
import pandas as pd

# df_merged com dados fict√≠cios
df_merged = pd.DataFrame({
    'id': range(1, 9),
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo', 'Fernanda', 'Gabriel', 'Helena'],
    'idade': [25, 30, 22, 28, 35, 27, 24, 29],
    'salario': [3000, 4500, 2800, 4000, 5200, 3900, 3100, 4100],
    'cidade': ['SP', 'RJ', 'MG', 'RJ', 'SP', 'BA', 'RS', 'RS'],
    'estado': ['SP', 'RJ', 'MG', 'RJ', 'SP', 'BA', 'RS', 'RS']
})

df_agg = df_merged.groupby('estado').agg({
    'idade': ['mean', 'std'],
    'salario': ['mean', 'min', 'max']
})

print(df_agg)
# print('\n')
# agg_df['count'] = df_merged.groupby('estado').size()
# print(agg_df)

       idade           salario
        mean       std    mean   min   max
estado
BA      27.0       NaN  3900.0  3900  3900
MG      22.0       NaN  2800.0  2800  2800
RJ      29.0  1.414214  4250.0  4000  4500
RS      26.5  3.535534  3600.0  3100  4100
SP      30.0  7.071068  4100.0  3000  5200

In [24]:
df_transform= df_merged.copy()
df_transform['salario_medio_estado'] = df_transform.groupby('estado')['salario'].transform('mean')
print(df_transform)
df_transform['salario_relativo'] = df_transform['salario'] / df_transform['salario_medio_estado']
print('\n')
print(df_transform['salario_relativo'])

   id      nome  idade  salario cidade estado  salario_medio_estado
0   1       Ana     25     3000     SP     SP                4100.0
1   2     Bruno     30     4500     RJ     RJ                4250.0
2   3    Carlos     22     2800     MG     MG                2800.0
3   4   Daniela     28     4000     RJ     RJ                4250.0
4   5   Eduardo     35     5200     SP     SP                4100.0
5   6  Fernanda     27     3900     BA     BA                3900.0
6   7   Gabriel     24     3100     RS     RS                3600.0
7   8    Helena     29     4100     RS     RS                3600.0


0    0.731707
1    1.058824
2    1.000000
3    0.941176
4    1.268293
5    1.000000
6    0.861111
7    1.138889
Name: salario_relativo, dtype: float64

In [ ]:
df_merged['salario_medio_estado'] = df_merged.groupby('estado')['salario'].transform('mean')
print(df_merged)

   id      nome  idade  salario cidade estado  salario_medio_estado
0   1       Ana     25     3000     SP     SP                4100.0
1   2     Bruno     30     4500     RJ     RJ                4250.0
2   3    Carlos     22     2800     MG     MG                2800.0
3   4   Daniela     28     4000     RJ     RJ                4250.0
4   5   Eduardo     35     5200     SP     SP                4100.0
5   6  Fernanda     27     3900     BA     BA                3900.0
6   7   Gabriel     24     3100     RS     RS                3600.0
7   8    Helena     29     4100     RS     RS                3600.0

: