In [38]:
import pandas as pd

# DataFrame 1 - Informações pessoais com salário
df1 = pd.DataFrame({
    'id': list(range(1, 11)),
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo', 'Fernanda', 'Gabriel', 'Helena', 'Igor', 'Juliana'],
    'idade': [25, 30, 22, 28, 35, 27, 24, 29, 33, 31],
    'salario': [3000, 4500, 2800, 4000, 5200, 3900, 3100, 4100, 4700, 4300]
})

# DataFrame 2 - Localização
df2 = pd.DataFrame({
    'id': [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Recife',
               'Salvador', 'Porto Alegre', 'Fortaleza', 'Brasília', 'Manaus'],
    'estado': ['SP', 'RJ', 'MG', 'PR', 'PE', 'BA', 'RS', 'CE', 'DF', 'AM']
})


# Exibindo os DataFrames
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   id      nome  idade  salario
0   1       Ana     25     3000
1   2     Bruno     30     4500
2   3    Carlos     22     2800
3   4   Daniela     28     4000
4   5   Eduardo     35     5200
5   6  Fernanda     27     3900
6   7   Gabriel     24     3100
7   8    Helena     29     4100
8   9      Igor     33     4700
9  10   Juliana     31     4300

DataFrame 2:
   id          cidade estado
0   3       São Paulo     SP
1   4  Rio de Janeiro     RJ
2   5  Belo Horizonte     MG
3   6        Curitiba     PR
4   7          Recife     PE
5   8        Salvador     BA
6   9    Porto Alegre     RS
7  10       Fortaleza     CE
8  11        Brasília     DF
9  12          Manaus     AM

In [39]:
df_merged = pd.merge(df1,df2, on='id' , how = 'left')
print(df_merged)

   id      nome  idade  salario          cidade estado
0   1       Ana     25     3000             NaN    NaN
1   2     Bruno     30     4500             NaN    NaN
2   3    Carlos     22     2800       São Paulo     SP
3   4   Daniela     28     4000  Rio de Janeiro     RJ
4   5   Eduardo     35     5200  Belo Horizonte     MG
5   6  Fernanda     27     3900        Curitiba     PR
6   7   Gabriel     24     3100          Recife     PE
7   8    Helena     29     4100        Salvador     BA
8   9      Igor     33     4700    Porto Alegre     RS
9  10   Juliana     31     4300       Fortaleza     CE

In [40]:
df_merged['faixa_idade'] = pd.cut(df_merged['idade'], bins=[19, 25, 30, 35,40,45])
print(df_merged)

   id      nome  idade  salario          cidade estado faixa_idade
0   1       Ana     25     3000             NaN    NaN    (19, 25]
1   2     Bruno     30     4500             NaN    NaN    (25, 30]
2   3    Carlos     22     2800       São Paulo     SP    (19, 25]
3   4   Daniela     28     4000  Rio de Janeiro     RJ    (25, 30]
4   5   Eduardo     35     5200  Belo Horizonte     MG    (30, 35]
5   6  Fernanda     27     3900        Curitiba     PR    (25, 30]
6   7   Gabriel     24     3100          Recife     PE    (19, 25]
7   8    Helena     29     4100        Salvador     BA    (25, 30]
8   9      Igor     33     4700    Porto Alegre     RS    (30, 35]
9  10   Juliana     31     4300       Fortaleza     CE    (30, 35]

In [45]:
y = df_merged.groupby('faixa_idade')['idade'].count()
print(y)

faixa_idade
(19, 25]    3
(25, 30]    4
(30, 35]    3
(35, 40]    0
(40, 45]    0
Name: idade, dtype: int64

C:\Users\Lucas\AppData\Local\Temp\ipykernel_16524\2089401049.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  y = df_merged.groupby('faixa_idade')['idade'].count()

In [47]:
def bonus(salario):
    return salario * 1.1

df_merged['salario_com_bonus'] = df_merged['salario'].apply(bonus)

print("\nSalário com bônus:\n", df_merged[['nome', 'salario','salario_com_bonus']])

Salário com bônus:
        nome  salario  salario_com_bonus
0       Ana     3000             3300.0
1     Bruno     4500             4950.0
2    Carlos     2800             3080.0
3   Daniela     4000             4400.0
4   Eduardo     5200             5720.0
5  Fernanda     3900             4290.0
6   Gabriel     3100             3410.0
7    Helena     4100             4510.0
8      Igor     4700             5170.0
9   Juliana     4300             4730.0